
@{
	int a = 10;
	int b = 30;
	@a;
	@b;
}
<center>
	<label>Student Detail Form </label>
	<label>Student  Name </label>
	<label>Student Address </label><lanel></lanel>
	<label>Student College </label>
	<label>Student Faculty </label>

</center>
